@tailwind base;
@tailwind utilities;
@tailwind components;

.border_child>div>*~* {
  @apply border-t border-gray-400;
}

.animate {
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.msg-ignored, .msg-read {
  position: relative;
  @apply mb-2;
}

.msg-ignored::after, .msg-read::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(0% - 16px);
  --size: 16px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
}

.msg-ignored::after {
  outline: 2px solid;
  @apply outline-primary-color;
}

.msg-read::after {
  @apply bg-primary-color;
}
